.Content{
    background-color: rgb(233, 233, 233);
    border: 1px rgb(197, 193, 193) solid;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

